body {
  margin: 0;
  padding: 0;
  /*   background: -webkit-linear-gradient(to left, #ae00ffb3, #3021fdb9);
  background: -o-linear-gradient(to left, #ae00ffb3, #3021fdb9);
  background: -moz-linear-gradient(to left, #ae00ffb3, #3021fdb9);
  background: linear-gradient(to left, #ae00ffb3, #3021fdb9); */
  background-color: #f1f1f1;
}
.containerr {
  margin-top: 12px;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 14px;
  padding-top: 12px;
  position: relative;
  width: 700px;
  background-color: #2683fca5;
}

h1 {
  margin-top: 20px;
  color: black;
  text-align: center;
}
p {
  color: black;
  font-size: 20;
  font-weight: bold;
}
.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.form-group {
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

button {
  width: 120px;
  height: 50px;
}
